<section id="battle" class="m30-b">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1 class="pt-title m30-b">Vote for the startup with the strongest pitch</h1>
      <h4 class="pt-subtitle m30-b">Today's head-to-head matchup</h4>
    </div>
  </div>
  <div style="position:relative;" class="row text-center">
    <div class="col-xs-12 col-sm-6 vs-panel">
      <div class="panel panel-default">
        <div class="panel-body">
          <video-player v-url="battle.video1" v-id="'video1'"></video-player>
          <img src="/public/images/company_logos/company-logo-1.png" class="company-logo"/>
          <h4>Moeo, LLC</h4>
          <p>"Duis mollis, est non commodo luctus, nisi erat porttitor ligula."</p><a href="" class="btn btn-primary btn-lg">Vote<span class="badge">124</span></a>
        </div>
      </div>
    </div><img src="/public/images/vs.png" class="vs-icon-side-by-side hidden-xs visible-sm visible-md visible-lg"/><img src="/public/images/vs.png" class="vs-icon-stacked visible-xs hidden-sm hidden-md hidden-lg"/>
    <div class="col-xs-12 col-sm-6 vs-panel">
      <div class="panel panel-default">
        <div class="panel-body">
          <video-player v-url="battle.video2" v-id="'video2'"></video-player>
          <img src="/public/images/company_logos/company-logo-2.png" class="company-logo"/>
          <h4>Concur</h4>
          <p>"Sed posuere consectetur est at lobortis."</p><a href="" class="btn btn-primary btn-lg">Vote<span class="badge">302</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="howItWorks" class="m60-b">
  <div class="row text-center">
    <div class="col-xs-12 m15-b">
      <h1 class="pt-title">How it works</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-12 p15-l p15-r">
      <h4 style="color:#ccc;" class="pt-subtitle">Pitchtanks was created by the <a href="http://businessrockstars.com/" target="_blank">Business Rockstars</a> team to inspire entrepreneurs to perfect their pitches and gain national exposure.</h4>
    </div>
  </div>
  <div style="margin-top:60px;" class="m30-b row text-center home-steps">
    <div class="col-xs-12 col-sm-4 text-center">
      <img class="clickable shadow-image br-circle m30-b" ng-click="howItWorks.setActive(0)" ng-class="{'active': howItWorks.isActive(0)}" src="/public/images/microphone.png"/>
      <h4 class="pt-subtitle dark">Submit your pitch</h4>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <img class="clickable shadow-image br-circle m30-b" ng-click="howItWorks.setActive(1)" ng-class="{'active': howItWorks.isActive(1)}" src="/public/images/crown.png"/>
      <h4 class="pt-subtitle dark">Win your battles</h4>
    </div>
    <div class="col-xs-12 col-sm-4 text-center"><img class="clickable shadow-image br-circle m30-b" ng-click="howItWorks.setActive(2)" ng-class="{'active': howItWorks.isActive(2)}" src="/public/images/megaphone.png"/>
      <h4 class="pt-subtitle dark">Get tons of exposure</h4>
    </div>
  </div>
  <div class="row description-wrapper m30-b">
    <div class="hidden-xs col-sm-4 text-center angle-up-wrapper" ng-style="{ 'marginLeft': howItWorks.anglePos() }">
      <div class="angle-up" ng-class="howItWorks.angleColor()"></div>
    </div>
    <div class="visible-xs col-xs-12 text-center angle-up-wrapper" ng-style="{'marginTop': '-15px'}"> <!-- Didn't bother to figure out why this was necessary -->
      <div class="angle-up" ng-class="howItWorks.angleColor()"></div>
    </div>
    <div class="col-sm-12 desc-bg br-6 p15-t p15-b text-center" ng-class="howItWorks.descBg()">
      <h3>
        <div class="desc" ng-class="{'active': howItWorks.isActive(0)}">
          Get started now and
          <a ng-if="user()" ui-sref="app.campaign.create">create a page</a>
          <a ng-if="!user()" ui-sref="app.login" >create a page</a>
          for your campaign!
        </div>
        <div class="desc" ng-class="{'active': howItWorks.isActive(1)}">Battle against other pitches to see how you stack up!</div>
        <div class="desc" ng-class="{'active': howItWorks.isActive(2)}">Top pitches will appear on the <a href="http://businessrockstars.com/">Business Rockstars</a> daily show which airs in more than 33 Million households on TV and 170+ radio markets!</div>
      </h3>
    </div>
  </div>
</section>
<section id="leaderboard" class="m60-b">
  <div class="row text-center m30-b">
    <div class="col-xs-12 m15-b">
      <h1 class="pt-title">Leaderboard</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-12 p15-l p15-r">
      <h4 style="color:#ccc;" class="pt-subtitle">Upvote your favorite pitches, view all the pitches <a class="clickable" ui-sref="app.pitches">here</a>.</h4>
    </div>
  </div>
  <div class="row text-center m60-b">
    <div class="col-xs-12 col-sm-4 vs-panel">
      <div class="panel panel-default">
        <div class="panel-body"><img src="http://lorempixel.com/640/480/sports/5" class="img-responsive"/><img src="/public/images/company_logos/company-logo-1.png" class="company-logo img-responsive"/>
          <h4>Moeo, LLC</h4>
          <p>"Duis mollis, est non commodo luctus, nisi erat."</p>
          <div class="metadata"><span class="thumbsup pull-right"><i class="fa fa-thumbs-o-up"></i> 102</span><span class="clock pull-left"><i class="fa fa-clock-o"></i> 11/23/2015</span><span class="clearfix"></span></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 vs-panel">
      <div class="panel panel-default">
        <div class="panel-body"><img src="http://lorempixel.com/640/480/sports/2" class="img-responsive"/><img src="/public/images/company_logos/company-logo-2.png" class="company-logo img-responsive"/>
          <h4>Concur</h4>
          <p>"Sed posuere consectetur est at lobortis."</p>
          <div class="metadata"><span class="thumbsup pull-right"><i class="fa fa-thumbs-o-up"></i> 102</span><span class="clock pull-left"><i class="fa fa-clock-o"></i> 11/23/2015</span><span class="clearfix"></span></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 vs-panel">
      <div class="panel panel-default">
        <div class="panel-body"><img src="http://lorempixel.com/640/480/sports/2" class="img-responsive"/><img src="/public/images/company_logos/company-logo-2.png" class="company-logo img-responsive"/>
          <h4>Concur</h4>
          <p>"Sed posuere consectetur est at lobortis."</p>
          <div class="metadata"><span class="thumbsup pull-right"><i class="fa fa-thumbs-o-up"></i> 102</span><span class="clock pull-left"><i class="fa fa-clock-o"></i> 11/23/2015</span><span class="clearfix"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row description-wrapper">
    <div class="col-xs-12 desc-bg br-6 p15-t p15-b text-center start">
      <h3>
        <div class="desc active">
          Think you have a great pitch? Let the world decide.
          <a ng-if="user()" class="clickable" ui-sref="app.campaign.create">Get Started</a>
          <a ng-if="!user()" class="clickable" ui-sref="app.login">Get Started</a>
        </div>
      </h3>
    </div>
</div>
</section>
<div ui-view></div>
