<section id="battle" class="m30-b">
  <div class="row text-center m30-b">
    <div class="col-xs-12">
      <h1 class="pt-title m30-b">Vote for the startup with the strongest pitch</h1>
      <h5 class="pt-subtitle m30-b">Today's head-to-head matchup</h5>
    </div>
  </div>
  <!-- TODO: Fix height mismatch by using the fixVideoHeight directive! -->
  <div style="position:relative;" class="row text-center">
    <div class="col-xs-12 col-sm-6">
      <div class="vs-panel">
        <div class="battle-video-wrapper">
          <video-player v-url="battleData.campaign1.videoUrl" v-id="'video1'"></video-player>
        </div>
        <div class="battle-lower-wrapper m30-b clickable" ui-sref="app.campaign.view({ name: battleData.campaign1.name, campaign: battleData.campaign1 })">
          <img ng-src="{{battleData.campaign1.logo}}" class="battle-logo br-circle"/>
          <h3 class="pt-title m15-b">{{battleData.campaign1.name}}</h3>
          <h5>"{{battleData.campaign1.tagline}}"</h5>
        </div>
        <a href="" class="btn btn-success m30-b battle-vote br-6" ng-click="voteForBattle(battleData.battle.video1.id)" ng-class="[{disabled: userHasVoted}]">
          Vote ({{battleData.battle.video1.votes}})
        </a>
      </div>
    </div>
    <img src="/public/images/vs.png" class="vs-icon-side-by-side hidden-xs visible-sm visible-md visible-lg"></img>
    <img src="/public/images/vs.png" class="vs-icon-stacked visible-xs hidden-sm hidden-md hidden-lg"></img>
    <div class="col-xs-12 col-sm-6">
      <div class="vs-panel">
        <div class="battle-video-wrapper">
          <video-player v-url="battleData.campaign2.videoUrl" v-id="'video2'"></video-player>
        </div>
        <div class="battle-lower-wrapper m30-b clickable" ui-sref="app.campaign.view({ name: battleData.campaign2.name, campaign: battleData.campaign2 })">
          <img ng-src="{{battleData.campaign2.logo}}" class="battle-logo br-circle"></img>
          <h3 class="pt-title m15-b">{{battleData.campaign2.name}}</h3>
          <h5>"{{battleData.campaign2.tagline}}"</h5>
        </div>
        <a href="" class="btn btn-success battle-vote m30-b br-6" ng-click="voteForBattle(battleData.battle.video2.id)" ng-class="[{disabled: userHasVoted}]">
          Vote ({{battleData.battle.video2.votes}})
        </a>
    </div>
    </div>
  </div>
</section>
<section id="howItWorks" class="m60-b">
  <div class="row text-center">
    <div class="col-xs-12 m15-b">
      <h1 class="pt-title">How it works</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-12 p15-l p15-r">
      <h5 style="line-height: 1.5" class="pt-subtitle">Pitchtanks was created by the <a href="http://businessrockstars.com/" target="_blank">Business Rockstars</a> team to inspire entrepreneurs to perfect their pitches and gain national exposure.</h5>
    </div>
  </div>
  <div style="margin-top:60px;" class="m30-b row text-center home-steps">
    <div class="col-xs-12 col-sm-4 text-center">
      <img class="clickable shadow-image br-circle m30-b" ng-click="howItWorks.setActive(0)" ng-class="{'active': howItWorks.isActive(0)}" src="/public/images/microphone.png"/>
      <h4 class="pt-subtitle dark">Submit your pitch</h4>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <img class="clickable shadow-image br-circle m30-b" ng-click="howItWorks.setActive(1)" ng-class="{'active': howItWorks.isActive(1)}" src="/public/images/crown.png"/>
      <h4 class="pt-subtitle dark">Win your battles</h4>
    </div>
    <div class="col-xs-12 col-sm-4 text-center"><img class="clickable shadow-image br-circle m30-b" ng-click="howItWorks.setActive(2)" ng-class="{'active': howItWorks.isActive(2)}" src="/public/images/megaphone.png"/>
      <h4 class="pt-subtitle dark">Get tons of exposure</h4>
    </div>
  </div>
  <div class="row description-wrapper m30-b">
    <div class="hidden-xs col-sm-4 text-center angle-up-wrapper" ng-style="{ 'marginLeft': howItWorks.anglePos() }">
      <div class="angle-up" ng-class="howItWorks.angleColor()"></div>
    </div>
    <div class="visible-xs col-xs-12 text-center angle-up-wrapper" ng-style="{'marginTop': '-15px'}"> <!-- Didn't bother to figure out why this was necessary -->
      <div class="angle-up" ng-class="howItWorks.angleColor()"></div>
    </div>
    <div class="col-sm-12 desc-bg br-6 p15-t p15-b text-center" ng-class="howItWorks.descBg()">
      <h3>
        <div class="desc" ng-class="{'active': howItWorks.isActive(0)}">
          Get started now and
          <a ng-if="PTApp.user()" ui-sref="app.campaign.create">create a page</a>
          <a ng-if="!PTApp.user()" ui-sref="app.login" >create a page</a>
          for your campaign!
        </div>
        <div class="desc" ng-class="{'active': howItWorks.isActive(1)}">Battle against other pitches to see how you stack up!</div>
        <div class="desc" ng-class="{'active': howItWorks.isActive(2)}">Top pitches will appear on the <a href="http://businessrockstars.com/" target="_blank">Business Rockstars</a> daily show which airs in more than 33 Million households on TV and 170+ radio markets!</div>
      </h3>
    </div>
  </div>
</section>
<section id="leaderboard" class="m60-b">
  <div class="row text-center m30-b">
    <div class="col-xs-12 m15-b">
      <h1 class="pt-title">Leaderboard</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-12 p15-l p15-r">
      <h5 style="color:#ccc;" class="pt-subtitle">Upvote your favorite pitches, view all the pitches <a class="clickable" ui-sref="app.pitches">here</a>.</h5>
    </div>
  </div>
  <div class="row text-center m60-b">
    <div ng-if="!topCampaigns.length" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 home-coming-soon-wrapper br-6">
      <div class="home-coming-soon clickable" ui-sref="app.campaign.create">
        Pitches coming soon - <a>Sign up now!</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" ng-repeat="campaign in topCampaigns | limitTo:3">
      <campaign-card
        name="campaign.name"
        tagline="campaign.tagline",
        upvote-count="campaign.upvoteCount",
        join-date="campaign.joinDate",
        logo="campaign.logo",
        thumbnail="campaign.thumbnail",
        big="true"
      ></campaign-card>
    </div>
  </div>
  <div class="row description-wrapper">
    <div class="col-xs-12 desc-bg br-6 p15-t p15-b text-center start">
      <h3>
        <div class="desc active">
          Think you have a great pitch? Let the world decide.
          <a ng-if="PTApp.user()" class="clickable" ui-sref="app.campaign.create">Get Started</a>
          <a ng-if="!PTApp.user()" class="clickable" ui-sref="app.login">Get Started</a>
        </div>
      </h3>
    </div>
</div>
</section>
<div ui-view></div>
