<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PitchTanks - Upload Your Pitch Today</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/public/js/bundle.js"></script>
    <script src="/client/controllers/home.js"></script>
    <script src="/client/router.js"></script>
  </head>
  <body ng-app="pitchTanks">
    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>
