<div style="margin-top:30px;" class="row text-center">
  <div class="col-xs-4 col-xs-offset-4">
    <a href="/auth/linkedin" class="btn btn-block btn-lg btn-social btn-linkedin">
      <span class="fa fa-linkedin"></span> Connect with LinkedIn
    </a>
    <a href="/auth/facebook" class="btn btn-block btn-lg btn-social btn-facebook">
      <span class="fa fa-facebook"></span> Connect with Facebook
    </a>
    <a href="/auth/twitter" class="btn btn-block btn-lg btn-social btn-twitter">
      <span class="fa fa-twitter"></span> Connect with Twitter
    </a>
  </div>
</div>
