<div class="row text-center">
  <div class="col-xs-12">
    <h1 class="home-heading">Pitch Gallery</h1>
    <h3 style="color:#ccc;">Browse pitches to your heart's content</h3><a id="test_btn" class="btn btn-primary">Test Me!</a>
  </div>
</div>
<div style="margin-top:50px;" class="row text-center">
  <div style="margin-bottom:20px;" class="col-xs-12">
    <div role="group" class="btn-group"><a href="" class="btn btn-primary active"><i class="fa fa-clock-o"></i> Recent</a><a href="" class="btn btn-primary"><i class="fa fa-fire"></i> Popular</a></div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vs-panel">
    <div class="panel panel-default">
      <div class="panel-body"><img src="http://lorempixel.com/640/480/sports/5" class="img-responsive"/><img src="/static/images/company_logos/company-logo-1.png" class="company-logo img-responsive"/>
        <h4><a href="/company/2">Moeo, LLC</a></h4>
        <p>"Duis mollis, est non commodo luctus, nisi erat."</p>
        <div class="metadata"><span class="thumbsup pull-right"><i class="fa fa-thumbs-o-up"></i> 102</span><span class="clock pull-left"><i class="fa fa-clock-o"></i> 11/23/2015</span><span class="clearfix"></span></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vs-panel">
    <div class="panel panel-default">
      <div class="panel-body"><img src="http://lorempixel.com/640/480/sports/5" class="img-responsive"/><img src="/static/images/company_logos/company-logo-1.png" class="company-logo img-responsive"/>
        <h4><a href="/company/2">Moeo, LLC</a></h4>
        <p>"Duis mollis, est non commodo luctus, nisi erat."</p>
        <div class="metadata"><span class="thumbsup pull-right"><i class="fa fa-thumbs-o-up"></i> 102</span><span class="clock pull-left"><i class="fa fa-clock-o"></i> 11/23/2015</span><span class="clearfix"></span></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vs-panel">
    <div class="panel panel-default">
      <div class="panel-body"><img src="http://lorempixel.com/640/480/sports/5" class="img-responsive"/><img src="/static/images/company_logos/company-logo-1.png" class="company-logo img-responsive"/>
        <h4><a href="/company/2">Moeo, LLC</a></h4>
        <p>"Duis mollis, est non commodo luctus, nisi erat."</p>
        <div class="metadata"><span class="thumbsup pull-right"><i class="fa fa-thumbs-o-up"></i> 102</span><span class="clock pull-left"><i class="fa fa-clock-o"></i> 11/23/2015</span><span class="clearfix"></span></div>
      </div>
    </div>
  </div>
</div>
