extends ./layout.jade

block main_content

  .row(style='margin-top:30px;')
    .col-xs-4.col-xs-offset-4
      h3 settings #{user}

  .row
    .col-xs-4.col-xs-offset-4(style='margin-top:30px;')
      img(src="https://s3.amazonaws.com/uifaces/faces/twitter/idiot/128.jpg", class="img-circle")

  .row
    .col-xs-4.col-xs-offset-4(style='margin-top:30px;')
      form
        .form-group
          label(for='name') Name
          input#name.form-control(type='text', placeholder='Name', value='Business Sloth')
        .form-group
          label(for='password') New Password
          input#password.form-control(type='password', placeholder='Password')
        .form-group
          label(for='password_confirm') Password Again
          input#exampleInputPassword1.form-control(type='password', placeholder='Password')
        .form-group
          label(for='avatar') Upload a new photo
          input#avatar(type='file')
        button.btn.btn-primary(type='submit') Submit
