.play-button {
  background-image: url('/public/images/play.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 20%;
  opacity: 0.8;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.fullscreen-button {
  background-image: url('/public/images/fullscreen-button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -25px;
  width: 25px;
  opacity: 0.8;
  height: 25px;
  right: 10px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;

  &:hover {
    opacity: 1;
  }
}

.seek-bar#seekBar {
  height: 2px;
  width: 66%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

.menu-bar {
    position: absolute;
    bottom: -28px;
    height: 34px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    overflow: hidden;
}

.menu-bar-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
