.message-section {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  padding: 8px;
  z-index: 2;
  font-weight: 700;
  @include boxShadowHelper(2);

  &.success {
    background-color: $campaignGreen;
  }

  &.error {
    background-color: darken(#FF0000, 10%);
  }
  .pt-subtitle {
    font-size: 15px;
      color: #fff;
  }
}

section#campaignTitleSection {
  border: 2px solid $campaignGrayLight;
  @include boxShadowHelper(1);
}

.campaign-info {
  background-color: rgba(255,255,255,1);
  height: 220px;
}

.incomplete {
  border: 3px solid red !important;
}

.error-wrapper {
  min-height: 30px;
  color: red;
}

.upload-block {
  color: rgba(255,255,255,0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 140px;
  max-width: 300px;
  -webkit-transition: color 0.35s ease;
  -moz-transition: color 0.35s ease;
  transition: color 0.35s ease;

  &:hover {
    color: rgba(255,255,255,1);
  }

  .pt-title {
    color: rgba(255,255,255,1) !important;
  }
}

.photo-upload-button {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
}

.campaign-logo {
  width: 100%;
  max-width: 200px;
  height: 120px;
  margin-right: 15px;
  background-color: $campaignGrayDark;
  @include boxShadowHelper(1);
  display: inline-block;
  position: relative;

  .upload-block {
    max-height: 55px;
  }

  img.campaign-logo-img {
    width: 100%;
    height: 100%;
  }
}

.pt-select {
  border: 2px solid $campaignGrayLight;
  width: 40%;
  background-color: #fff;
}

.campaign-titles-form {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 140px);


  &.editing {
    margin-top: -15px;
    > * {
      margin-bottom: 15px;
      padding: 5px 10px;
    }
  }

  &.viewing > * {
    margin-bottom: 5px;
    padding: 0px 10px 5px 10px;
  }

  > input {
    border-radius: 6px;
    border: 2px solid $campaignGrayLight;
    box-shadow: 0;
    display: block;
  }

  .name-input {
    @include placeholder {
      color: $campaignGrayDark;
    }
    max-width: 100%;
    color: #333;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
  }

  .tagline-input {
    width: 100%;
    color: $campaignGrayDark;
    font-size: 16px;
  }

  .market-input {
    font-size: 13px;
    color: $campaignGrayMedium;
  }

  .website-input {
    @include placeholder {
      color: $campaignBlue;
    }
    font-size: 14px;
    color: $campaignBlue;
    width: 60%;
  }
}

.campaign-form-buttons {
  min-height: 220px;
  background-color: rgba(255,255,255,1);
  border-right: 2px solid $campaignGrayLight;

}

.battle-info {
  min-height: 218px;
  background-color: rgba(255,255,255,1);
  margin-top: 2px;
  .bi-top {
    border-bottom: 2px solid $campaignGrayLight;
  }

  .bi-top, .bi-bottom {
    height: 50%;

    h1 {
      margin: 0;
    }

    .bi-num, .bi-label {
      height: 100%;
    }

    .bi-label {
      text-align: left;
    }
  }

  .bi-top .bi-num {
    color: $campaignBlue;
  }

  .bi-bottom .bi-num {
      color: $campaignGreen;
  }

}

.pitch-col {
  width: 100%;
  background-color: rgba(255,255,255,1);
  @include boxShadowHelper(1);
  &.left {
    width: calc(100% - 15px);
  }

  &.right {
    .pt-title {
      color: $campaignGrayDark;
    }
  }
}

section#pitchSection {

  .pitch-text {
    border: 2px solid transparent;
    height: 300px;
    border: 2px solid $campaignGrayLight;
    padding: 15px;
  }

  .video-container {
    width: 100%;
    position: relative;
  }

  &.vid .video-container {
    .pitch-text {
      display: none;
    }

    .upload-block {
      top: 10px;
      left: 15px;
      height: 30px;
      margin: 0;
      width: 150px;

      >* {
        font-size: 14px;
        display: inline-block;
      }
    }

    > input {
      top: 0;
      left: 0;
      height: 40px;
      margin: 0;
      width: 120px;
    }
  }

  &.no-vid {
    section.video {
      background-color: $campaignGrayDark;
      border: none;
      padding: 0;
      border-radius: 6px;
    }

    .play-button {
      display: none;
    }

    video {
      margin-bottom: -5px; // Fix for weird gray bottom border
    }

    .menu-bar {
      display: none;
    }
  }
}
