.navbar-brand.navbar-brand-img {
  padding: 0;
  > .navbar-img {
    background-image: url('/public/images/PitchTanks.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 236.5px; // Preserve aspect ratio: image is 733w, 155h.
  }
}

.navbar-nav>li>a.nav-profile-img {
  padding: 0;
  > .profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('/public/images/pt-2-square.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.navbar-nav > li > a.signup {
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
      color: #337ab7;
  }
  color: #337ab7;
}
