.shadow-image {
  @include boxShadowHelper(1);
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;

  &:hover, &:focus {
    @include boxShadowHelper(2);
  }
}

.home-heading {
  margin-top: 60px;
}

.vs-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.company-logo {
  height: 100px;
  margin: 20px auto 0;
}

.panel-body .badge {
  margin-left: 5px;
}

.vs-panel .metadata {
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
}

.vs-panel .metadata .clock {
  color: #ccc;
}

.vs-panel .metadata .thumbsup {
  color: green;
}

.vs-panel .metadata .thumbsup i {
  font-size: 21px;
}

.vs-panel .btn {
  margin-top: 20px;
}

.vs-icon-side-by-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20%;
  max-width: 150px;
  z-index: 10;
}

.vs-icon-stacked {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 15px;
  z-index: 10;
}

.home-steps img {
  height: 100px;
}

.home-steps .lead {
  margin-top: 20px;
}
