.shadow-image {
  @include boxShadowHelper(1);
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;

  &:hover, &.active {
    @include boxShadowHelper(2);
  }
}

.home-coming-soon-wrapper {
  position: relative;
  border: 6px dashed $campaignGrayMedium;
  height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.home-coming-soon {
  color: $campaignGrayMedium;
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 390px;
}
/**************************************
***** DESCRIPTION SWITCHER STYLES *****
**************************************/
$descColor0: #22BBA0;
$descColor1: #2B4E61;
$descColor2: #4B95CD;
$descTransition: all 0.65s ease-out;

.description-wrapper {
    .desc-bg {
      -webkit-transition: $descTransition;
      -moz-transition: $descTransition;
      transition: $descTransition;

      &.bg0 {
        background-color: $descColor0;
      }

      &.bg1 {
        background-color: $descColor1;
      }

      &.bg2 {
        background-color: $descColor2;
      }

      &.start {
        background-color: #F35C47;

        .desc {
          color: rgba(255,255,255,0.8);
        }
      }
    }

    .desc {
      line-height: 1.5;
      color: rgba(255,255,255,1);
      display: none;
      &.active {
        display: block;
      }

      a,
      a:link,
      a:hover,
      a:visited,
      a:hover,
      a:active,
      a:focus {
        color: rgba(255,255,255,1);
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px dashed rgba(255,255,255,1);
      }
    }
}
.angle-up-wrapper {
  -webkit-transition: $descTransition;
  -moz-transition: $descTransition;
  transition: $descTransition;
  .angle-up {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 2px;
    -webkit-transition: $descTransition;
    -moz-transition: $descTransition;
    transition: $descTransition;

    &.color0 {
      border-bottom: 15px solid $descColor0;
    }

    &.color1 {
      border-bottom: 15px solid $descColor1;
    }

    &.color2 {
      border-bottom: 15px solid $descColor2;
    }
  }
}
/******************************************
***** END DESCRIPTION SWITCHER STYLES *****
******************************************/

.home-heading {
  margin-top: 60px;
}

.vs-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.company-logo {
  height: 100px;
  margin: 20px auto 0;
}

.panel-body .badge {
  margin-left: 5px;
}

.vs-panel .metadata {
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
}

.vs-panel .metadata .clock {
  color: #ccc;
}

.vs-panel .metadata .thumbsup {
  color: green;
}

.vs-panel .metadata .thumbsup i {
  font-size: 21px;
}

.vs-panel .btn {
  margin-top: 20px;
}

.vs-icon-side-by-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20%;
  max-width: 150px;
  z-index: 10;
}

.vs-icon-stacked {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 15px;
  z-index: 10;
}

.home-steps img {
  height: 100px;
}

.home-steps .lead {
  margin-top: 20px;
}
