.signup-box {
  border: 2px solid #ccc;
  padding: 30px 0; // x padding handled by bootstrap
  background-color: #fff;

  .signup-box-inner {
    margin: 0 auto;
    float: none;
  }
}

.btn.btn-social {
  color: #fff;
  padding: 15px 40px;
  line-height: 1;
  font-size: 20px;
  margin: 15px auto;

  > .fa {
    float: left;
    font-size: 20px;
  }
}

.btn-facebook {
  background-color: #3E5B99;
}

.btn-linkedin {
  background-color: #127FBA;
}

.btn-twitter {
  background-color: #1DA1F2;
}
