<div>
  <section id="campaignTitleSection" class="br-6 m30-b">
    <div class="row m0 h100">
      <div class="col-md-7 col-sm-8 campaign-info h100 p30">
        <div class="campaign-logo m15-b br-6">
          <img ng-show="picFile" class="campaign-logo-img br-6" ng-src="{{picFile.$ngfBlobUrl}}" />
          <div ng-show="!picFile" class="upload-block text-center clickable">
            <i class="fa fa-2x fa-camera"></i>
            <h5 class="pt-title">Add A Picture</h5>
          </div>
          <input  ng-model="picFile" type="file" id="photoUpload"
                  class="photo-upload-button clickable" ngf-select="uploadFiles($file, $invalidFiles)"
                  accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" />
        </div>
        <div class="campaign-titles-form">
          <input type="text" class="name-input" placeholder="Your company's name"></input>
          <input type="text" class="tagline-input" placeholder="Your tagline"></input>
          <input type="text" class="website-input" placeholder="Your website"></input>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 campaign-form-buttons h100 p15">
        <button class="btn btn-cancel">Cancel</button>
        <button class="btn btn-save">Save Changes</button>
      </div>
      <div class="col-md-3 col-sm-12 battle-info text-center">
        <div class="row bi-top p30-t p30-b">
          <h1 class="bi-num col-xs-4">
            12
          </h1>
          <h5 class="bi-label pt-subtitle col-xs-8">
            Battles Fought
          </h5>
        </div>
        <div class="row bi-bottom p30-t p30-b">
          <h1 class="bi-num col-xs-4">
            57
          </h1>
          <h5 class="bi-label pt-subtitle col-xs-8">
            Total Score
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section id="pitchSection" class="m30-b">
    <div class="row m0">
      <div class="col-md-9 col-sm-12 p0">
        <h5 class="pt-subtitle m30-b p30-l">
          Product pitch
        </h5>
        <div class="pitch-col br-6 left p30">
          <div class="p15-b">Pitch</div>
          <textarea class="m30-b br-6" rows="10"/>
          <div class="video-container">
            <video-player vUrl="" vId="newVid"></video-player>
            <div class="upload-block text-center clickable">
              <i class="fa fa-5x fa-video-camera"></i>
              <h2 class="pt-title">Upload A Video</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 p0">
        <h5 class="pt-subtitle m30-b p30-l">
          Tips <!-- This will be "top/related pitches" in edit/view -->
        </h5>
        <div class="pitch-col right br-6 p30">
          <h5 class="pt-subtitle">Step 1</h5>
          <h4 class="pt-title p30-b">Fill out your campaign info.</h4>
          <h5 class="pt-subtitle">Step 2</h5>
          <h4 class="pt-title p30-b">Write a little bit about your pitch and your mission.</h4>
          <h5 class="pt-subtitle">Step 3</h5>
          <h4 class="pt-title p30-b">Upload your pitch video and save your work!</h4>
        </div>
      </div>
    </div>
  </section>
</div>
