<div class="footer text-center">
  <div class="row">
    <div style="margin-top:40px;" class="col-xs-12"><span class="brand-left"><img src="/public/images/pt-2.png"></img><span>itchtanks</span></span><span class="brand-right"><img src="/public/images/company_logos/br-logo.png" class="img sponsor-logo-right"/></span></div>
    <div style="margin-top:20px;color:#ccc;" class="col-xs-6 col-xs-offset-3">
      <p>POWERED BY BUSINESS ROCKSTARS</p>
      <p>1234 ADDRESS ST LOS ANGELES, CA 90210</p>
    </div>
  </div>
</div>
